@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
a {
    text-decoration: none;
    color: inherit;
  }
  
  a:hover {
    color: #00b39b;
  }
  .active {
    color: #00b39b;
  }
  
  header {
    color: 747474;
  }
  
  header nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  header nav img {
    width: 200px;
  }
  
  header nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
  }
  .container {
    width: 70%;
    margin-inline: auto;
  }
  
  .drop-menu {
    display: flex;
    flex-direction: n;
    position: absolute;
    right: -50px;
    width: 200px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 8px;
    display: none;
  }
  .drop-link {
    position: relative;
  }
  .drop-menu a {
    padding: 8px;
  }
  .drop-menu a:hover {
    background-color: whitesmoke;
  }
  
  .drop-link:hover > .drop-menu {
    display: flex;
  }
header nav img{
    width: 200px;
}
header nav ul{
    list-style-type: none;
    display: flex;
    gap:25px ;
}
header nav{
    display: flex;
    justify-content: space-around;
}
.total a {
    text-decoration: none;
    color: inherit;
  }
.active{
    color: #00b39b;
}
.total a:hover{
    color: #00b39b;
}
.info {
    text-align: center;
    margin-top: 100px;

}
.info img{
    width: 50px;

}
h3{
    letter-spacing: 2px;
    color: #00b39b;
    font-weight: 300;
    font-size: 2em;
    padding-top: 20px;
}
.parags{
    display: flex;
  margin-top: 100px;
  gap: 50px;
  line-height: 2em;
  font-weight: 300;
  padding-left: 250px;
  padding-right: 250px;
  color:  #747474;
  font-size: 16px;

}
.cards{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    color: white;
    padding-right: 200px;
    padding-left: 200px;
    gap: 50px;
    border-radius: 12px;
}
.green{
    background-color: #00b39b;
    width: 30%;
    padding: 32px;
    color: white;
    border-radius: 12px;

}
h2{
    margin-top: 10px;
    font-weight: 400;
    letter-spacing: 2px;
}
p{
    margin-top: 10px;
  font-size: 1.4em;
  font-weight: 300;
}
.blue{
background-color:#3d83df;
width: 30%;
padding: 32px;
color: white;
border-radius: 12px;
}
.blue select{
    margin-top: 80px;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 1.2em;
    text-decoration: underline;
}
.black{
    background-color: black;
    width: 30%;
    padding: 32px;
    color: white;
    border-radius: 12px;
   
}
.black select{
    margin-top: 80px;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 1.2em;
    text-decoration: underline;
}
.green select{
    margin-top: 80px;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 1.2em;
    text-decoration: underline;
}
select option{
    color: black;
}
.brands p{
    letter-spacing: 2px;
    color: #00b39b;
    font-weight: 300;
    font-size: 25px;
    padding-left: 300px;
    
}
.logos{
    gap: 20px;
    padding-left: 550px;
    display: inline-block;
    display: flex;
   
    flex-wrap:wrap;

}
.brands .words{
    display: inline-block;
    margin-right: 700px;
}
.brands{
    display: inline-block;
}
.platform {
    background: #e5faf8;
    background-image: linear-gradient(
      -45deg,
      rgba(0, 204, 177, 0.01) 5%,
      rgba(61, 199, 223, 0.1)
    );
    height: 700px;
    margin-top: 100px;
    background-image: url("https://www.docplanner.com/img/logo.png");
    background-repeat: no-repeat;
    background-position-x: 150px;
    background-position-y: 145%;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    
  }

.platform h3{
    letter-spacing: 2px;
    color: #00b39b;
    font-weight: 300;
    font-size: 25px;
    padding-left: 20px;
    padding-right: 500px;

}
.platform .boxes{
    font-weight: 300;
    color: gray;
    margin-top: 30px;
    font-size: x-small;
}
.boxes {
    display: grid;
    grid-template-areas:
      "b1 b2"
      "b3 b4";
    gap: 30px;
  }
  .box {
    width: 200px;
    padding: 15px;
    background-color: white;
    border: 1px solid rgb(197, 197, 197);
    text-align: center;
  }
.platform h4{
    letter-spacing: 2px;
    color: #00b39b;
    font-weight: 300;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 500px;
}
.end{
    text-align: center;
    margin-top: 100px;
    display: flex;
    flex-direction: n;
}
.end h4{
    color: #00b39b;
    justify-content: center;
    font-weight: 300;
    font-size: 2.1428571429em;
}
.team p{
    font-weight: 400;
    color: #747474;
    display: flex;
    justify-content: center;
    font-size: 10px;
    
   
}
.team{
  padding-top: 200px;
  padding-left: 50px;
}
.final h4{
    font-weight: 300;
    font-size:30px ;
    padding-top: 100px;
    display: flex;
    justify-content: center;
}
.btn{
    margin-left: 120px;
    background-color: #3d83df;
    color: #fff;
    font-family: Roboto, Arial, sans-serif;
    border-radius: 4px;
   
    border: #fff;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 14px;
    padding-right: 14px;
    font-weight: 700;
    letter-spacing: 0.04em;
    font-size: 12px;
    cursor: pointer;
   
}
.button{
    display: flex;
    justify-content: center;
    text-align: center;
    
}
.places {
  display:flex;
 flex-wrap: wrap;
 gap: 15px;
 justify-content: center;
 padding-top: 100px;
  
  

}
.places button{
  margin-left: 120px;
    background-color: #3d83df;
    color: #fff;
    font-family: Roboto, Arial, sans-serif;
    border-radius: 4px;
   
    border: #fff;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 14px;
    padding-right: 14px;
    font-weight: 700;
    letter-spacing: 0.04em;
    font-size: 12px;
    cursor: pointer;
   
  
  
}
.footer a{
  color: #747474;
}

  
.link{
  display: flex;
  justify-content: center ;
  font-size: 12px;
  color: #ababab;
  padding-top: 150px;
}
.foot p{
  color: #ababab;
  display: flex;
  justify-content: center ;
  font-size: 12px;
}

